@import 'tailwindcss';

:root {
  --text: #444141;
  --text-h: #003b45;
  --bg: #f3f2f2;
  --border: rgb(0 59 69 / 25%);
  --accent: #f15d2a;
  --accent-bg: rgb(241 93 42 / 10%);
  --accent-border: rgb(241 93 42 / 50%);
  --sans: system-ui, 'Segoe UI', roboto, sans-serif;
  --mono: ui-monospace, consolas, monospace;
  --display: 'Instrument Serif', georgia, serif;

  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font: 18px/145% var(--sans);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(255 255 255 / 60%);
    --text-h: #fff;
    --bg: #003b45;
    --border: rgb(255 255 255 / 25%);
    --accent: #f79068;
    --accent-bg: rgb(247 144 104 / 15%);
    --accent-border: rgb(247 144 104 / 50%);
  }
}

body {
  margin: 0;
  color: var(--text);
  background: var(--bg);
}

h1,
h2,
h3 {
  color: var(--text-h);
  font-weight: 500;
}
